= SyntaxHighlighter.highlight(params[:code]).html_safe

%h1 Analysis results

- @analysis_results.each do |(_, result)|
  .analysis-result
    %h3 Result
    - result.feedback.each do |feedback|
      %h5 Original
      .analysis-feedback
        = SyntaxHighlighter.highlight(feedback.src.extract).html_safe
      %h5 Example
      .analysis-feedback
        = SyntaxHighlighter.highlight(feedback.replacement).html_safe
